[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent
[submodule "stompconn"]
	path = stompconn
	url = https://github.com/ikonopistsev/stompconn.git
[submodule "stomptalk"]
	path = stomptalk
	url = https://github.com/ikonopistsev/stomptalk.git
